<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STREETbay</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
   <header>
    <div id='bar'>

    <nav>
        <ul>
            <il><a class="btn" href="/">Home</a></il>
            <il><a class="btn" href="/products">Products</a></il>
            <il><a class="btn" href="/cart">Cart</a></il>
        </ul>
    </nav>
   </header>
   <div id='hi'>
   <h1>STREETbay</h1>
    </div>
    <br></br>
    <img src='https://domno-vintage.com/cdn/shop/articles/Vintage_Ralph_Lauren_Style_Oversized_Sweatshirt_Baggy_Outfit_1024x.jpg?v=1667488368' width='1850px'>
<table>
        <tr>
          <td>
            <div>
                <h3>Things you might find</h3>
        <img class='phts' src="https://i.etsystatic.com/38240550/r/il/17fa45/4302716701/il_fullxfull.4302716701_qnb7.jpg" width='300'>
        <p>Baggy pants</p>
        </td>
          <td>
            <img class='phts' src='https://images.asos-media.com/products/asos-design-oversized-t-shirt-in-dark-green-with-nashville-city-print/204396091-1-scarab/?$n_480w$&wid=476&fit=constrain' width='300'>
        <p>Graphic Print Tees</p>
        </td>
        <td>
            <img class='phts' src='https://img.fruugo.com/product/6/49/557779496_max.jpg' width='300'>
        <p>Hats</p>
        </td>
        <td>
            <img class='phts' src='https://www.christies.com/img/SaleImages/NYR-21784-11292022-1.jpg?width=400&quality=70' width='300'>
        <p>Shoes</p>
        </td>
    </div>

      
          

        
     

</body>
</html>