<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class='bod'>
    <header>
    <div id='bar'>

    <nav>
        <ul>
            <il> <a class="btn" href="/">Home</a></il>
            <il><a class="btn" href="/products">Products</a></il>
            <il><a class="btn" href="/cart">Cart</a></il>
        </ul>
    </nav>
   </header>
<h2 id='prod'> OUR LATEST ITEMS</h2>
  <h3>Shadow Graphic Tee</h3>
  <p>150$</p>
   <img class='ph' src="https://m.media-amazon.com/images/I/71IgNPQjVXL._AC_UL1500_.jpg" width="290px" >
  
 <h3>Jordans RED</h3>
  <p>200$</p>
  <img class='ph' src="https://sothebys-com.brightspotcdn.com/dims4/default/26ae228/2147483647/strip/true/crop/3543x2338+0+0/resize/684x451!/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fdotcom%2Fba%2F63%2F5448ec3a43ad881557d41485631d%2F972sneakers-cfk7z-t3-01-1.jpg" width="290px" >
  
  <h3>Cargo pants streetwear</h3>
  <p>170$</p>
  <img class='ph' src="https://www.refinery29.com/images/10950936.jpg" width="290px">
  
  <h3>Oversized Sweatshirt</h3>
  <p>70$</p>
  <img class='ph' src="https://images.asos-media.com/products/asos-design-super-oversized-sweatshirt-in-gray-heather/202245830-1-greymarl?$n_640w$&wid=513&fit=constrain" width="290px" >

  <h3>HAT</h3>
  <p>30$</p>
  <img class='ph' src="https://hatstore.imgix.net/4063633103476_1.jpg?auto=compress%2Cformat&w=544&h=435&q=50" width="290px">
  
  <h3>Baggy Jeans Streetwear</h3>
  <p>100$</p>
  <img class='ph' src="https://i.ebayimg.com/images/g/pUIAAOSwDk5ikGj-/s-l1200.jpg" width="290px" >
  
  



</body>
</html>
